* {
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden !important;
  background: #ddd;
}

.todo-app {
  margin-top: 200px;
  margin-bottom: 100px;
}

td.no-items {
  text-align: center;
} 

form {
  display: flex;
}

form input:focus {
  box-shadow: none !important;
  outline: none !important ;
}

i.fa-times {
  cursor: pointer;
}

